html {
        /* For easy, accessible reading */
        line-height: 1.5;

        /* defines "rem" unit */
        font-size: 18px; 
    
        /* So it doesn't look like 1997 */
        font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#duh {
    display: flex;

    border:1px solid red;
    height: 100px;
}
#fit1 {
    border: 1px solid blue;
    flex: 1;
}
#fit2 {
    border: 1px solid blue;
    flex: 2;
}
#fit3 {
    border: 1px solid blue;
    flex: 3;
}


