html {
  /* For easy, accessible reading */
  line-height: 1.5;
  /* defines "rem" unit */
  font-size: 18px;
  /* So it doesn't look like 1997 */
  font-family: sans-serif; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* A nav bar using flexbox, with links like adjacent rectangular buttons.  */
ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: black;
  font-weight: bold; }

li {
  display: block;
  justify-content: right; }

a {
  display: block;
  text-decoration: none;
  padding: 1em;
  color: white;
  border: 1px solid gray; }

a:hover {
  background: gray; }

img {
  height: 3em; }

.jc-left {
  justify-content: left; }
