body {
  /* For layout */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* For easy, accessible reading */
  line-height: 1.5;
  font-size: 18px;
  /* So it doesn't look like 1997 out of the box */
  font-family: sans-serif; }

/* A minimalist nav bar with text links and an underline for hover  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: black;
  font-weight: bold; }

li {
  display: inline-block;
  padding: 1em; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: underline; }
